<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% block body_block %}
 <h1>Welcome to the INDEX!!</h1>
<h1>this is index html page showing </h1>
<!-- syntax wise they should both touch each other -->
<h1>{{ text|cut:'world'  }}
</h1>
<h1>{{ number|add:"99" }}</h1>
{% endblock %}