<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WELCOME TO THE RELATIVE HTML</h1>
<!-- I made a link to the 'other' url which points to other.html
and importantly app_name should not have any space while mentioning in the string-->
<a href="{% url 'basic_app:other' %}">THE OTHER PAGE</a>
<!-- To view Admin page you've to do migrate first Django conventional way!-->
<a href="{% url 'admin:index' %}">admin view</a>
<a href="{% url 'basic_app:index' %}">LINK TO INDEX!</a>

</body>
</html>